.card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-5px);
}

.title {
  font-size: 20px;
  margin: 0 0 10px 0;
  color: #333;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #666;
}

.price {
  font-weight: bold;
  color: #0074ff;
  font-size: 18px;
}

/* Контейнер для кнопок */
.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Дві кнопки поруч */
  gap: 10px;
}

.detailsBtn {
  text-align: center;
  padding: 10px;
  border: 1px solid #0074ff;
  color: #0074ff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
}

.detailsBtn:hover {
  background: #f0f7ff;
}

.bookBtn {
  text-align: center;
  padding: 10px;
  background: #0074ff;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
}

.bookBtn:hover {
  background: #0062d6;
}

.favBtn {
  position: absolute;
  top: -10px;
  right: -10px;
  background: white;
  border: 1px solid #eee;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  z-index: 2;
  color: #94a3b8;
}

.favBtn:hover {
  transform: scale(1.1);
}